{
	twitter => 
	{
	    consumer_key      => '',
	    consumer_secret   => '',
	    
	    request_token_url => 'https://api.twitter.com/oauth/request_token',
	    callback          => 'http://localhost:3000/oauth/twitter/',#enter your own
	    authorization_url => 'https://api.twitter.com/oauth/authorize',
	    access_token_url  => 'https://api.twitter.com/oauth/access_token',
	    protected_resource_url => 'http://twitter.com/account/verify_credentials.json',
	}
}
